<html>
    <head>
        <title>Create Friend Group</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}" id="message">
                    {{message}}
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <body>
        <h1>Create Group</h1>
        <div>
            <form action="/createFriendGroup" method="post">
                <input type="text" name="groupName" placeholder="Group Name" required/>
                <br/>
                <input type="text" name="description" placeholder="Description" />
                <br/>
                <input type="submit" value="Create a Group">
            </form>
        </div>
        {% if error %}
            {{ error }}
        {% endif %}
    <a href="/">Go back</a>
    </body>
</html>